{% extends "blog/services.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item active" aria-current="true" style="color: darkred; font-size: 2rem;">Facility Infrastructure for Level 3 Hospitals</li>
    <li class="list-group-item">Advanced diagnostic imaging facilities including MRI, CT scan, and ultrasound.</li>
    <li class="list-group-item">Specialized medical departments for cardiology, oncology, neurology, etc.</li>
    <li class="list-group-item">High-dependency and critical care units for intensive patient monitoring.</li>
    <li class="list-group-item">Research laboratories for medical investigations and clinical trials.</li>
    <li class="list-group-item">Dedicated training and simulation centers for medical education.</li>
    <li class="list-group-item">Expanded surgical suites with advanced equipment and technology.</li>
    <li class="list-group-item">Telemedicine facilities for remote consultations and telehealth services.</li>
    <li class="list-group-item">Patient-centered design with amenities for comfort and accessibility.</li>
    <li class="list-group-item">Emergency response and disaster management infrastructure.</li>
    <li class="list-group-item">Modern information technology (IT) systems for data management and analysis.</li>
  </ul>
</div>

{% endblock content %}
