{% extends "blog/services.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item active" aria-current="true" style="color: darkred; font-size: 2rem;">Mandatory Requirements for Level 3 Hospitals</li>
    <li class="list-group-item">Valid registration with the relevant regulatory body</li>
    <li class="list-group-item">Advanced medical equipment and supplies for specialized care.</li>
    <li class="list-group-item">Specialist medical personnel including consultants and specialists in various fields.</li>
    <li class="list-group-item">Comprehensive medical records system with electronic health records (EHR).</li>
    <li class="list-group-item">Facilities for medical research, training, and continuing medical education (CME).</li>
    <li class="list-group-item">Emergency response and disaster preparedness protocols.</li>
    <li class="list-group-item">Integrated referral system with other healthcare facilities.</li>
    <li class="list-group-item">Regular quality assurance and performance improvement initiatives.</li>
    <li class="list-group-item">Community health programs and outreach services.</li>
    <li class="list-group-item">Accessible communication channels for patient feedback and complaints.</li>
  </ul>
</div>

{% endblock content %}
