{% extends "blog/services.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item active" aria-current="true" style="color: darkred; font-size: 2rem;">Personnel at Level 3 Hospitals</li>
    <li class="list-group-item">Medical Specialists - Board-certified consultants leading specialized medical teams.</li>
    <li class="list-group-item">Clinical Researchers - Experts conducting medical research and clinical trials.</li>
    <li class="list-group-item">Health Educators - Professionals providing health education and promotion.</li>
    <li class="list-group-item">Bioinformatics Specialists - Analysts managing medical data and informatics.</li>
    <li class="list-group-item">Epidemiologists - Researchers studying patterns and causes of diseases.</li>
    <li class="list-group-item">Health Information Managers - Specialists overseeing health information systems.</li>
    <li class="list-group-item">Patient Advocates - Representatives supporting patients and families in healthcare decisions.</li>
    <li class="list-group-item">Health Economists - Experts analyzing healthcare costs and resource allocation.</li>
    <li class="list-group-item">Clinical Pharmacists - Pharmacists providing specialized medication management.</li>
    <li class="list-group-item">Health Informatics Technicians - Staff managing electronic health records (EHR) systems.</li>
  </ul>
</div>

{% endblock content %}
