{% extends "blog/services.html" %}
{% load static %}

{% block content %}
<style type="text/css">
	.admin{
		min-height: 85%;
		min-width: 100%;
	}
</style>
<div class=" admin container-fluid">
	<ul class="list-group">
	  <li class="list-group-item active" aria-current="true" style="color: darkred; font-size: 2rem;">ADMINISTRATIVE UNITS</li>
	  <li class="list-group-item">Medical superintendent/CEO</li>
	  <li class="list-group-item">Admin officer</li>
	  <li class="list-group-item">Human resource manager</li>
  	  <li class="list-group-item">Finance</li>
  	  <li class="list-group-item">Board room</li>
  	  <li class="list-group-item">Director</li>
  	  <li class="list-group-item">Health records room</li>
  	  <li class="list-group-item">General store</li>
</ul>
</div>

{% endblock content %}
