{% extends "blog/services.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">

<ul class="list-group">
  <li class="list-group-item active" aria-current="true" style="color: darkred; font-size: 2rem;">FACILITY INFRUSTRUCTURE</li>
  <li class="list-group-item">A second itemAt least 5 acres of land or office space of approximately 2,500 sq. meters</li>
  <li class="list-group-item">one labour ward with at least three delivery beds and</li>
  <li class="list-group-item">three (3) functional resuscitaire ( 2 in labour ward and one in theatre) </li>
  <li class="list-group-item">New Born Unit with  at least Five(5) incubators and five (5) cots; </li>
  <li class="list-group-item">Functional intensive care unit (Monitors, ventilators) (with at least 6 beds)</li>
  <li class="list-group-item">high dependence unit (with at least 6 beds) </li>
  <li class="list-group-item">radiology unit </li>
  <li class="list-group-item">ENT unit </li>
  <li class="list-group-item">dental unit </li>
  <li class="list-group-item">ophthalmology unit </li>
  <li class="list-group-item">ophthalmology unit </li>
  <li class="list-group-item">endoscopy, laparoscopy & colonoscopy unit </li>
  <li class="list-group-item"> renal unit with at least 5 dialysis machines </li>
  <li class="list-group-item">MRI machine </li>
  <li class="list-group-item">CT scan machine </li>
  <li class="list-group-item">Mammography machine </li>
  <li class="list-group-item">Ultrasound machine </li>
  <li class="list-group-item">General  X-Ray machine </li>

</ul>

</div>
{% endblock content %}

