{% extends "blog/services.html" %}
{% load static %}

{% block content %}


<div class="container-fluid">
  <ul class="list-group">
  <li class="list-group-item active" aria-current="true" style="color: darkred; font-size: 2rem;">Mandatory  Requirements</li>
  <li class="list-group-item">Advanced life support </li>
  <li class="list-group-item">Caesarian sections and surgical operations</li>
  <li class="list-group-item">Radiology services</li>
  <li class="list-group-item">Mortuary & autopsy services</li>
  <li class="list-group-item">Management of medical, surgical, pediatric, obstetric & gynecological in-patients and outpatients </li>
  <li class="list-group-item">Laboratory services of Lab class D </li>
  <li class="list-group-item">At least 4 resident specialists, surgeon, obs/gyn, paedetrician and physician </li>
  <li class="list-group-item">Maternity theatre and general theatre </li>
</div>

{% endblock content %}