{% extends "blog/services.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item active" aria-current="true" style="color: darkred; font-size: 2rem;">Personel</li>
    <li class="list-group-item">Sixteen (16) resident medical officers (mandatory); </li>
    <li class="list-group-item">Two (2) anesthesiologists; </li>
    <li class="list-group-item">Two  (2) general surgeon;</li>
    <li class="list-group-item">One (1) orthopaedic surgeon</li>
    <li class="list-group-item">Two  (2) Obs/Gyne specialist; </li>
    <li class="list-group-item">One (1)  neonatologist;</li>
    <li class="list-group-item">One  (1)nephrologist;</li>
    <li class="list-group-item">One(1) ophthalmologist</li>
    <li class="list-group-item">One(1) optometrist; </li>
    <li class="list-group-item">Two (2)  physician (internist); </li>
    <li class="list-group-item">Public health specialists ; </li>
    <li class="list-group-item">thirty ( 30) general clinical officers; </li>
    <li class="list-group-item">fourteen (14) graduate clinical officers; </li>
    <li class="list-group-item">four  (4) clinical officer lung & skin; </li>
    <li class="list-group-item">four (4) Ophthalmology or cataract surgeons; </li>
    <li class="list-group-item">two (2) clinical officers paediatrics; </li>
</ul>
</div>

{% endblock content %}