{% extends "blog/services.html" %}
{% load static %}

{% block content %}

<style type="text/css">
    .services-services{
      background-color: aquamarine;
    }
     .sidebar-services{
      background-color: rgb(66, 143, 167);
    }
</style>


  <div class="container-fluid">
    <div class="row">
      <div class="services-services col-md-6 pt-2">
        <h1 class="h1">Services Offered</h1>
       <b> <ol class="list-group list-group-numbered">
              <li class="list-group-item">Elimination of communicable diseases</li>
              <li class="list-group-item"> Screening for animal transmitted conditions </li>
              <li class="list-group-item">Provides-
                <ul>
                  (a) Highly effective Anti- Retroviral Therapy (HAART); </ul>
                  <ul>(b) Antiretroviral (ARV) prophylaxis for children born of HIV +ve mothers;</ul>
                </li>
              <li class="list-group-item">Male circumcision</li>
              <li class="list-group-item">Pelvic inflammatory disease (PID) treatment </li>
              <li class="list-group-item">Screening/examination for-
                <ul>
                  <ul>(a) Cervical cancer;</ul>
                    <ul>(b) Breast cancer</ul>

                </ul></li>
              <li class="list-group-item">Screening/ examination for Prostate cancer</li>
              <li class="list-group-item">Disaster management preparedness </li>
              <li class="list-group-item">Vaccinations ( tetanus, rabies, hepatitis B)</li>
              <li class="list-group-item">Management of surgical and medical emergencies</li>
              <li class="list-group-item">Advanced life support ( mandatory) </li>
              <li class="list-group-item">Management of pre-term labour</li>
              <li class="list-group-item">Caesarian sections ( mandatory)</li>
              <li class="list-group-item">Radiology services ( mandatory)</li>

            </ol></b>
          </div>

          <div class="sidebar-services col-md-6 pt-2">
                    <h1>by Level 4 Hospitals</h1>
            <b> <ol class="list-group list-group-numbered">
              <li class="list-group-item">Management of high-risk pregnancies and obstetric complications</li>

              <li class="list-group-item">Mortuary & autopsy services (mandatory)</li>
              <li class="list-group-item">Operations-
                <ul>(a) Emergency;</ul>
                <ul>(b) General; </ul>

              </li>
              <li class="list-group-item"> management of medical, surgical, pediatric, obstetric & gynecological inpatients and outpatients (mandatory) </li>
              <li class="list-group-item">laboratory services of Lab class D ( mandatory)</li>
              <li class="list-group-item">Renal dialysis</li>
              <li class="list-group-item">Tuberculosis management</li>
              <li class="list-group-item">MCH /FP services</li>
              <li class="list-group-item">Dental services</li>
              <li class="list-group-item">ENT services</li>
              <li class="list-group-item">Ophthalmology services</li>
              <li class="list-group-item">Nutrition services </li>
              <li class="list-group-item">Palliative care</li>
              <li class="list-group-item">Rehabilitative services
            <ul>a) Physiotherapy</ul>
            <ul>b) Speech therapy</ul>
            <ul>c) Occupational therapy</ul>
            <ul>d) Orthopedic services</ul>
              </li>
              <li class="list-group-item"> 29) Medical engineering</li>
              <li class="list-group-item">24-hour pharmacy services</li>

            </ol></b>
          </div>
        </div>
      </div>
    {% endblock content %}