{% extends "blog/services.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item active" aria-current="true" style="color: darkred; font-size: 2rem;">Facility Infrastructure for Level 2 Hospitals</li>
    <li class="list-group-item">Adequate bed capacity for inpatient care.</li>
    <li class="list-group-item">Outpatient consultation rooms and examination areas.</li>
    <li class="list-group-item">Laboratory and diagnostic imaging facilities.</li>
    <li class="list-group-item">Pharmacy and medication storage areas.</li>
    <li class="list-group-item">Maternity ward with delivery rooms and neonatal care facilities.</li>
    <li class="list-group-item">Emergency department with resuscitation bays and trauma care units.</li>
    <li class="list-group-item">Surgical theaters equipped for minor surgeries and procedures.</li>
    <li class="list-group-item">Intensive care unit (ICU) and high-dependency units (HDU).</li>
    <li class="list-group-item">Isolation wards for infectious diseases.</li>
    <li class="list-group-item">Centralized medical gas supply and oxygen delivery systems.</li>
  </ul>
</div>

{% endblock content %}
