{% extends "blog/services.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item active" aria-current="true" style="color: darkred; font-size: 2rem;">Mandatory Requirements for Level 2 Hospitals</li>
    <li class="list-group-item">Valid registration with the relevant regulatory body</li>
    <li class="list-group-item">Basic medical equipment and supplies.</li>
    <li class="list-group-item">Qualified medical personnel including doctors and nurses.</li>
    <li class="list-group-item">Adequate sanitation facilities and waste management systems.</li>
    <li class="list-group-item">Emergency medical services available 24/7.</li>
    <li class="list-group-item">Access to safe water and electricity.</li>
    <li class="list-group-item">Functional administrative and record-keeping systems.</li>
    <li class="list-group-item">Compliance with infection control and biohazard protocols.</li>
    <li class="list-group-item">Regular inspections and accreditation by health authorities.</li>
    <li class="list-group-item">Implementation of quality improvement initiatives.</li>
  </ul>
</div>

{% endblock content %}
