{% extends "blog/services.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item active" aria-current="true" style="color: darkred; font-size: 2rem;">Personnel at Level 2 Hospitals</li>
    <li class="list-group-item">Medical Officers - Qualified doctors providing clinical care and supervision.</li>
    <li class="list-group-item">Nurses - Registered nurses and midwives for patient care and support.</li>
    <li class="list-group-item">Clinical Officers - Trained healthcare professionals assisting in patient management.</li>
    <li class="list-group-item">Pharmacists - Licensed pharmacists responsible for medication management.</li>
    <li class="list-group-item">Laboratory Technicians - Skilled personnel performing diagnostic tests and analyses.</li>
    <li class="list-group-item">Radiographers - Trained professionals operating diagnostic imaging equipment.</li>
    <li class="list-group-item">Anesthetists - Certified professionals administering anesthesia during procedures.</li>
    <li class="list-group-item">Emergency Medical Technicians (EMTs) - Trained responders for emergency care.</li>
    <li class="list-group-item">Administrative Staff - Personnel managing hospital operations and logistics.</li>
  </ul>
</div>

{% endblock content %}
