{% extends "blog/services.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item active" aria-current="true" style="color: darkred; font-size: 2rem;">Facility Infrastructure Requirements for Level 1 Hospitals</li>
    <li class="list-group-item ">Adequate number of patient wards with beds</li>
    <li class="list-group-item">Outpatient department for consultations and basic treatments</li>
    <li class="list-group-item">Emergency room for urgent medical care</li>
    <li class="list-group-item">Laboratory for diagnostic tests</li>
    <li class="list-group-item">Pharmacy for dispensing medications</li>
    <li class="list-group-item">Maternity ward for childbirth services</li>
    <li class="list-group-item">Surgical theatre for minor procedures</li>
    <li class="list-group-item">Radiology department for X-rays</li>
    <li class="list-group-item">Medical records department for documentation</li>
    <li class="list-group-item">Administrative offices for management and coordination</li>
    <li class="list-group-item">Staff quarters for accommodation</li>
    <li class="list-group-item">Sanitation facilities including toilets and bathrooms</li>
    <li class="list-group-item">Kitchen and dining facilities for patients and staff</li>
    <li class="list-group-item">Utility rooms for storage and equipment maintenance</li>
    <li class="list-group-item">Waiting areas for patients and visitors</li>
    <li class="list-group-item">Ambulance bay for emergency vehicle access</li>
    <li class="list-group-item">Proper lighting and ventilation in all areas</li>
    <li class="list-group-item">Access ramps and elevators for disabled patients</li>
    <li class="list-group-item">Backup power supply system</li>
  </ul>
</div>

{% endblock content %}
