{% extends "blog/services.html" %}
{% load static %}

{% block content %}
<style type="text/css">
  .heading{
    color: darkred;
  }
</style>
<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item active heading" aria-current="true" style="color: darkred; font-size: 2rem;">Mandatory Requirements for Level 1 Hospitals</li>
    <li class="list-group-item">Valid registration with the relevant regulatory body</li>
    <li class="list-group-item">Basic medical equipment and supplies</li>
    <li class="list-group-item">Trained medical personnel, including at least one clinical officer or nurse</li>
    <li class="list-group-item">Adequate sanitation facilities</li>
    <li class="list-group-item">Emergency medical services</li>
    <li class="list-group-item">Access to clean water and electricity</li>
    <li class="list-group-item">Proper waste disposal system</li>
    <li class="list-group-item">Availability of essential medications</li>
    <li class="list-group-item">Basic laboratory services for diagnostics</li>
    <li class="list-group-item">Facilities for patient admission and observation</li>
    <li class="list-group-item">Pharmacy services for dispensing medications</li>
    <li class="list-group-item">Emergency transportation services</li>
    <li class="list-group-item">Adequate storage facilities for medical supplies</li>
    <li class="list-group-item">Continuous supply of oxygen</li>
    <li class="list-group-item">Basic surgical services for minor procedures</li>
    <li class="list-group-item">Availability of medical records and documentation system</li>
    <li class="list-group-item">Infection control measures and protocols</li>
    <li class="list-group-item">Regular training and updates for medical staff</li>
    <li class="list-group-item">Functional communication system for emergencies</li>
  </ul>
</div>

{% endblock content %}
