{% extends "blog/services.html" %}
{% load static %}

{% block content %}
<style type="text/css">
  .heading{
    color: darkred;
  }
</style>
<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item active heading" aria-current="true" style="color: darkred; font-size: 2rem;">Personnel Requirements for Level 1 Hospitals</li>
    <li class="list-group-item">Medical Officers - Qualified doctors responsible for patient care, diagnosis, and treatment.</li>
    <li class="list-group-item">Nurses - Registered nurses and nursing assistants for bedside care, medication administration, and patient support.</li>
    <li class="list-group-item">Pharmacists - Licensed pharmacists to manage the pharmacy, dispense medications, and provide drug information.</li>
    <li class="list-group-item">Laboratory Technicians - Skilled technicians to perform diagnostic tests and analyze specimens.</li>
    <li class="list-group-item">Radiographers - Trained professionals to operate radiology equipment and perform X-ray procedures.</li>
    <li class="list-group-item">Midwives - Certified midwives to provide prenatal, intrapartum, and postpartum care to pregnant women.</li>
    <li class="list-group-item">Surgeons - Experienced surgeons capable of performing minor surgical procedures.</li>
    <li class="list-group-item">Anesthetists - Certified anesthetists to administer anesthesia during surgical procedures.</li>
    <li class="list-group-item">Administrative Staff - Managers, administrators, and clerical staff to oversee hospital operations, billing, and record-keeping.</li>
    <li class="list-group-item">Maintenance Staff - Technicians and support staff to maintain hospital facilities, equipment, and infrastructure.</li>
    <li class="list-group-item">Support Staff - Housekeeping, security, and catering staff to ensure a clean, safe, and comfortable environment for patients and visitors.</li>
    <li class="list-group-item">Medical Records Officers - Professionals responsible for managing patient records, documentation, and information systems.</li>
    <li class="list-group-item">Public Health Officers - Public health specialists to implement disease prevention and health promotion programs.</li>
    <li class="list-group-item">Health Educators - Educators to provide health education and counseling to patients and the community.</li>
    <li class="list-group-item">Ambulance Drivers - Trained drivers to operate emergency vehicles and transport patients safely.</li>
    <li class="list-group-item">Security Personnel - Security guards to maintain safety and order within the hospital premises.</li>
    <li class="list-group-item">Community Health Workers - Outreach workers to promote health awareness and deliver basic healthcare services in the community.</li>
    <li class="list-group-item">Volunteers - Dedicated individuals offering their time and services to support hospital activities and patient care.</li>
  </ul>
</div>

{% endblock content %}
