{% extends "blog/services.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item active" aria-current="true" style="color: darkred; font-size: 2rem;">Facility Infrastructure for Level 5 Hospitals</li>
    <li class="list-group-item">Comprehensive medical complex with multiple specialized departments.</li>
    <li class="list-group-item">Cutting-edge medical equipment including robotic surgery systems and advanced imaging.</li>
    <li class="list-group-item">Dedicated research and innovation centers for medical breakthroughs.</li>
    <li class="list-group-item">Global telemedicine network for consultations and remote diagnostics.</li>
    <li class="list-group-item">Helipads and air ambulance services for rapid patient transport.</li>
    <li class="list-group-item">Advanced medical simulation and training facilities.</li>
    <li class="list-group-item">State-of-the-art intensive care units (ICUs) and critical care wards.</li>
    <li class="list-group-item">Comprehensive medical library and academic resources.</li>
    <li class="list-group-item">Specialized centers of excellence for complex medical conditions.</li>
    <li class="list-group-item">Patient-centric design with amenities for comfort and well-being.</li>
  </ul>
</div>

{% endblock content %}
