{% extends "blog/services.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item active" aria-current="true" style="color: darkred; font-size: 2rem;">Mandatory Requirements for Level 5 Hospitals</li>
    <li class="list-group-item">Accreditation by national or international healthcare regulatory bodies.</li>
    <li class="list-group-item">Comprehensive medical research and academic programs.</li>
    <li class="list-group-item">State-of-the-art medical equipment and technology.</li>
    <li class="list-group-item">Specialized medical personnel including world-renowned experts.</li>
    <li class="list-group-item">Robust emergency medical services with dedicated trauma centers.</li>
    <li class="list-group-item">Interdisciplinary collaboration with other healthcare institutions.</li>
    <li class="list-group-item">Advanced telemedicine and remote healthcare capabilities.</li>
    <li class="list-group-item">Continuous quality improvement initiatives and patient safety protocols.</li>
    <li class="list-group-item">Comprehensive electronic health records (EHR) system integrated with national health databases.</li>
    <li class="list-group-item">Accessible healthcare services for all segments of the population.</li>
  </ul>
</div>

{% endblock content %}
