{% extends "blog/services.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item active" aria-current="true" style="color: darkred; font-size: 2rem;">Personnel at Level 5 Hospitals</li>
    <li class="list-group-item">Renowned Medical Specialists - Internationally recognized experts in various medical fields.</li>
    <li class="list-group-item">Clinical Researchers - Pioneers in medical research and clinical trials.</li>
    <li class="list-group-item">Academic Leaders - Professors and educators shaping the future of medicine.</li>
    <li class="list-group-item">Health Innovators - Innovators developing cutting-edge medical technologies and treatments.</li>
    <li class="list-group-item">Global Health Advocates - Leaders driving global health initiatives and policies.</li>
    <li class="list-group-item">Clinical Pharmacologists - Experts in pharmacology and personalized medicine.</li>
    <li class="list-group-item">Health Informatics Specialists - Specialists managing complex health information systems.</li>
    <li class="list-group-item">Interdisciplinary Teams - Collaborative teams addressing complex medical cases.</li>
    <li class="list-group-item">Medical Ethicists - Professionals guiding ethical decision-making in healthcare.</li>
    <li class="list-group-item">Public Health Leaders - Experts shaping public health policies and programs.</li>
  </ul>
</div>

{% endblock content %}
