{% extends "blog/services.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item active" aria-current="true" style="color: darkred; font-size: 2rem;">Services Offered at Level 5 Hospitals</li>
    <li class="list-group-item">Highly Specialized Surgery - Complex surgical procedures for rare and challenging conditions.</li>
    <li class="list-group-item">Precision Medicine - Personalized treatments tailored to individual genetic profiles.</li>
    <li class="list-group-item">Cutting-Edge Oncology - Advanced cancer therapies including immunotherapy and gene therapy.</li>
    <li class="list-group-item">Advanced Cardiology - State-of-the-art cardiac care including heart transplantation and artificial heart implants.</li>
    <li class="list-group-item">Neuroscience Excellence - Comprehensive neurosurgery and neurology services for complex brain and spinal conditions.</li>
    <li class="list-group-item">Global Telemedicine - Teleconsultations and telemonitoring for patients worldwide.</li>
    <li class="list-group-item">Comprehensive Organ Transplantation - Multi-organ transplant programs including heart, lung, liver, and kidney.</li>
    <li class="list-group-item">Advanced Trauma Care - Level 1 trauma centers providing critical care for severe injuries and emergencies.</li>
    <li class="list-group-item">Rare Disease Treatments - Specialized services for rare and genetic disorders.</li>
    <li class="list-group-item">Advanced Medical Imaging - Cutting-edge imaging modalities for precise diagnosis and treatment planning.</li>
  </ul>
</div>

{% endblock content %}
